html{
    margin-left: 20%;
    margin-right: 32%;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

#logo{
    flex: 1;
    display: flex;
}

#logo > img {
    width: 60px;
    height: 60px;
    align-self: center;
}

#share-icons{
    margin-top: 5px;
    align-self: center;
}

#logo > div > h4, p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#logo > div > h4 {
    font-size: 30px;
}

#logo > div > p {
    font-size: 12px;
}

img:nth-last-of-type(2){
    margin-left: 4px;
}

.back-bar {
    background-image: url("img/hr-img.png");
    height: 10px;
    min-width: 900px;
    margin-top: 20px;
}


main{
    display: flex;
    flex-wrap: wrap;
}

#mainDiv > img{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainDiv > p {
    text-align: center;
    margin-bottom: 20px;
}

#subheader {
    display: inline-block;
}

h1 {
    margin-bottom: 0px;
}

#subheader > section {
    display: flex;
    margin-top: 0px;
}

#subheader > section > img {
    align-self: flex-end;
}

#list{
    margin: 10px;
    background-image: url("img/list-bg.png");
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 87%;
    padding: 50px;
    white-space: nowrap;
    min-width: 800px;
}

#author{
    display: flex;
    margin: 10px;
    white-space: nowrap;
}

#author > section {
    margin-left: 15px;
}

#author > section > h4 {
    margin-bottom: 3px;
}

#author > section > p {
    margin-top: 10px;
}

button{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: rgb(192, 117, 107);
    color: white;
    align-self: center;
}